@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgb(235, 143, 143),rgb(236, 236, 157),lightblue);
}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #616869;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 10px 10px 100px;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7f8e7;
  transition: 0.5s ease-in-out;
}


.container .card:after{
  content: 'AAA';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(211, 211, 22, 0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 280px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(70, 64, 64);
  margin: 0;
}

.container .card .contentBx .date{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .date{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}

.container .card .contentBx .date h3{
  color: rgb(100, 91, 91);
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .date span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .date span:hover{
  background: #d5e98d;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: rgb(236, 200, 200);
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(253, 245, 245);
  opacity: 0.7;
  transform: translateY(50px);
  transition: 0.1s;
  margin-top: 15px;
}

.container .card:hover .contentBx a{
  opacity: 0.8;
  background:rgb(10, 10, 10);
  transform: translateY(0px);
  transition-delay: 0s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.container .card .contentBx a:hover{
    background: #bdcf9c;
  }